
<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Estate</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The Estate Teplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/Index/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="~/Content/Index/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/logocss.css">
</head>

<body>
   

    <!-- Header -->

    <header class="header trans_300">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_container d-flex flex-row align-items-center trans_300">

                        <!-- Logo -->

                        <div class="logo_container">
                            <a href="/Home/Index">
                                <div class="logo">
                                    <img class="imagelogo" src="~/Content/Index/images/logo.png" alt="">
                                    <span>Six Star Land</span>
                                </div>
                            </a>
                        </div>

                        <!-- Main Navigation -->

                        <nav class="main_nav">
                            <ul class="main_nav_list">
                                <li class="main_nav_item"><a href="~/Home/Index">home</a></li>
                                <li class="main_nav_item"><a href="~/Home/About">about us</a></li>
                                <li class="main_nav_item"><a href="~/Home/Collections">collection</a></li>
                                <li class="main_nav_item"><a href="~/Home/News">news</a></li>
                                <li class="main_nav_item"><a href="~/Home/Contact">contact</a></li>
                            </ul>
                        </nav>

                        <!-- Phone Home -->

                        <div class="phone_home text-center">
                            <span>Hotline: 1900 1999</span>
                        </div>

                        <!-- Hamburger -->

                        <div class="hamburger_container menu_mm">
                            <div class="hamburger menu_mm">
                                <i class="fas fa-bars trans_200 menu_mm"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Menu -->

        <div class="menu menu_mm">
            <ul class="menu_list">
                <li class="menu_item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="#">home</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu_item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="about.html">about us</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu_item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="listings.html">listings</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu_item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="news.html">news</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu_item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="contact.html">contact</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </header>
    <!-- Search Box -->
    @* @Html.Partial("_Search") *@
     
    @RenderBody();
    <!-- Newsletter -->

    <div class="newsletter">
        <div class="container">
            <div class="row row-equal-height">

                <div class="col-lg-6">
                    <div class="newsletter_title">
                        <h3>subscribe to our newsletter</h3>
                        <span class="newsletter_subtitle">Get the latest offers</span>
                    </div>
                    <div class="newsletter_form_container">
                        <form action="#">
                            <div class="newsletter_form_content d-flex flex-row">
                                <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Your email here" required="required" data-error="Valid email is required.">
                                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_200" value="Submit">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <a href="#">
                        <div class="weekly_offer">
                            <div class="weekly_offer_content d-flex flex-row">
                                <div class="weekly_offer_icon d-flex flex-column align-items-center justify-content-center">
                                    <img src="~/Content/Index/images/prize.svg" alt="">
                                </div>
                                <div class="weekly_offer_text text-center">weekly offer</div>
                            </div>
                            <div class="weekly_offer_image" style="background-image:url(../Content/Index/images/weekly.jpg)"></div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- Footer About -->

                <div class="col-lg-3 footer_col">
                    <div class="footer_col_title">
                        <div class="logo_container">
                            <a href="#">
                                <div class="logo">
                                    <img class="imagelogo" src="~/Content/Index/images/logo.png" alt="">
                                    <span>Six Stars Land</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="footer_social">
                        <ul class="footer_social_list">
                            <li class="footer_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer_about">
                        <p>Currently, Six Stars Land Group is one of the prestigious companies in the field of Real Estate Investment and Development with a total charter capital of VND 9,143 billion.</p>
                    </div>
                </div>

                <!-- Footer Useful Links -->

                <div class="col-lg-3 footer_col">
                    <div class="footer_col_title">useful links</div>
                    <ul class="footer_useful_links">
                        <li class="useful_links_item"><a href="~/Home/Index">Home</a></li>
                        <li class="useful_links_item"><a href="~/Home/About">About</a></li>
                        <li class="useful_links_item"><a href="~/Home/Collection">Listings</a></li>
                        <li class="useful_links_item"><a href="~/Home/News">News</a></li>
                        <li class="useful_links_item"><a href="~/Home/Contact">Contact</a></li>
                    </ul>
                </div>

                <!-- Footer Contact Form -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_col_title">say hello</div>
                    <div class="footer_contact_form_container">
                        <form id="footer_contact_form" class="footer_contact_form" action="post">
                            <input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
                            <input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
                            <textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            <button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">send</button>
                        </form>
                    </div>
                </div>

                <!-- Footer Contact Info -->

                <div class="col-lg-3 footer_col">
                    <div class="footer_col_title">contact info</div>
                    <ul class="contact_info_list">
                        <li class="contact_info_item d-flex flex-row">
                            <div><div class="contact_info_icon"><img src="~/Content/Index/images/placeholder.svg" alt=""></div></div>
                            <div class="contact_info_text">67/69 Dang Thuy Tram St, ward 13, Binh Thanh District, HCMc</div>
                        </li>
                        <li class="contact_info_item d-flex flex-row">
                            <div><div class="contact_info_icon"><img src="~/Content/Index/images/phone-call.svg" alt=""></div></div>
                            <div class="contact_info_text">1900 1999</div>
                        </li>
                        <li class="contact_info_item d-flex flex-row">
                            <div><div class="contact_info_icon"><img src="~/Content/Index/images/message.svg" alt=""></div></div>
                            <div class="contact_info_text"><a href="mailto:sixstarland@gmail.com?Subject=Hello" target="_top">sixstarland@gmail.com</a></div>
                        </li>
                        <li class="contact_info_item d-flex flex-row">
                            <div><div class="contact_info_icon"><img src="~/Content/Index/images/planet-earth.svg" alt=""></div></div>
                            <div class="contact_info_text"><a href="https://sixstarland.com">www.sixstarland.com</a></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- Credits -->

    <div class="credits">
        <span>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://nguyenbaohuy.tk" target="_blank">Six Star</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </span>
    </div>
    <script src="~/Content/Index/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Index/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/Index/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/Index/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/Index/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/Index/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/Index/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/Index/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/Index/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/Index/plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="~/Content/Index/plugins/easing/easing.js"></script>
    <script src="~/Content/Index/js/custom.js"></script>
</body>

</html>