@{
    ViewBag.Title = "About";
}
<head>
    <title>SixStar Land - About</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/about_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/about_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/logocss.css">
</head>
<!-- Home -->
<div class="home">
  
    <div class="home_background" style="background-image:url(../Content/Index/images/home_background.jpg)"></div>
		
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content">
                    <div class="home_title">
                        <h2>about us</h2>
                    </div>
                    <div class="breadcrumbs">
                        <span><a href="~/Home/Index">Home</a></span>
                        <span><a href="#"> About Us</a></span>
                        <span><a href="#"> Our Agents</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-lg-1 order-2">
                <h2 class="intro_title">The PPC </h2>
                <div class="intro_subtitle">Perfect Property Company</div>
                <p class="intro_text">Công ty bất động sản PPC (PPC = Perfect Property Company) là Doanh nghiệp hoạt động chuyên nghiệp trong lĩnh vực môi giới và tiếp thị bất động sản trong nước cũng như quốc tế. PPC được phát triển dựa trên nền tảng là sự hiểu biết sâu sắc về thị trường bất động sản, pháp luật và mối quan hệ vững chắc với các nhà đầu tư bất động sản chuyên nghiệp tại Việt Nam và đặc biệt là bất động sản tại Thành phố Hồ Chí Minh.</p>
                <p class="intro_text">Công ty chuẩn bị khai trương vào ngày 01/01/2020 nên Công ty cần xây dựng một hệ thống quản lý giao dịch bất động sản. Nghiệp vụ kinh doanh chính của Công ty bao gồm:</p>
                <p class="intro_text">Công ty chuẩn bị khai trương vào ngày 01/01/2020 nên Công ty cần xây dựng một hệ thống quản lý giao dịch bất động sản. Nghiệp vụ kinh doanh chính của Công ty bao gồm:</p>
                <p class="intro_text">Công ty bất động sản PPC (PPC = Perfect Property Company) là Doanh nghiệp hoạt động chuyên nghiệp trong lĩnh vực môi giới và tiếp thị bất động sản trong nước cũng như quốc tế. PPC được phát triển dựa trên nền tảng là sự hiểu biết sâu sắc về thị trường bất động sản, pháp luật và mối quan hệ vững chắc với các nhà đầu tư bất động sản chuyên nghiệp tại Việt Nam và đặc biệt là bất động sản tại Thành phố Hồ Chí Minh.</p>


            </div>
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="intro_image">
                    <img src="~/Content/Index/images/city_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Milestones -->



<!-- Agents -->

<div class="agents">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h3>out agents</h3>
                    <span class="section_subtitle">The best out there</span>
                </div>
            </div>
        </div>

        <div class="row agents_row">

            <!-- Agent -->
            <div class="col-lg-3 agent_col text-center">
                <div class="agent_image mx-auto">
                    <img src="~/Content/Index/images/agent_1.jpg" alt="image by Andrew Robles">
                </div>
                <div class="agent_content">
                    <div class="agent_name">Thai Xuan Ba</div>
                    <div class="agent_role">Real Estate Agent</div>
                    <div class="agent_social">
                        <ul class="agent_social_list">
                            <li class="agent_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent -->
            <div class="col-lg-3 agent_col text-center">
                <div class="agent_image mx-auto">
                    <img src="~/Content/Index/images/agent_2.jpg" alt="">
                </div>
                <div class="agent_content">
                    <div class="agent_name">Nguyen Bao Huy</div>
                    <div class="agent_role">Real Estate Agent</div>
                    <div class="agent_social">
                        <ul class="agent_social_list">
                            <li class="agent_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent -->
            <div class="col-lg-3 agent_col text-center">
                <div class="agent_image mx-auto">
                    <img src="~/Content/Index/images/agent_3.jpg" alt="">
                </div>
                <div class="agent_content">
                    <div class="agent_name">Hoang Phi Hung</div>
                    <div class="agent_role">Real Estate Agent</div>
                    <div class="agent_social">
                        <ul class="agent_social_list">
                            <li class="agent_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent -->
            <div class="col-lg-3 agent_col text-center">
                <div class="agent_image mx-auto">
                    <img src="~/Content/Index/images/agent_4.jpg" alt="">
                </div>
                <div class="agent_content">
                    <div class="agent_name">Huynh Minh Nghia</div>
                    <div class="agent_role">Real Estate Agent</div>
                    <div class="agent_social">
                        <ul class="agent_social_list">
                            <li class="agent_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="agent_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="agents_more">
                    <div class="button agents_more_button trans_200"><a class="trans_200" href="#">read more</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->


<script src="~/Content/Index/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/Index/styles/bootstrap4/popper.js"></script>
<script src="~/Content/Index/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/Content/Index/plugins/greensock/TweenMax.min.js"></script>
<script src="~/Content/Index/plugins/greensock/TimelineMax.min.js"></script>
<script src="~/Content/Index/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="~/Content/Index/plugins/greensock/animation.gsap.min.js"></script>
<script src="~/Content/Index/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="~/Content/Index/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="~/Content/Index/plugins/easing/easing.js"></script>
<script src="~/Content/Index/plugins/parallax-js-master/parallax.min.js"></script>
<script src="~/Content/Index/js/about_custom.js"></script>
