@{
    ViewBag.Title = "Contact";
}
<head>
   
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index/styles/contact_responsive.css">
</head>

<div class="home">
  
    <div class="home_background" style="background-image:url(../Content/Index/images/contact.jpg)"></div>
		
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content">
                    <div class="home_title">
                        <h2>single listings</h2>
                    </div>
                    <div class="breadcrumbs">
                        <span><a href="~/Home/Index">Home</a></span>
                        <span><a href="~/Home/Contact"> Contact</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 contact_col">
                <div class="estate_contact_form">
                    <div class="contact_title">say hello</div>
                    <div class="estate_contact_form_container">
                        <form id="estate_contact_form" class="estate_contact_form" action="post">
                            <input id="estate_contact_form_name" class="estate_input_field estate_contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
                            <input id="estate_contact_form_email" class="estate_input_field estate_contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
                            <input id="estate_contact_form_subject" class="estate_input_field estate_contact_form_subject" type="email" placeholder="Subject" required="required" data-error="Subject is required.">
                            <textarea id="estate_contact_form_message" class="estate_text_field estate_contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            <button id="estate_contact_send_btn" type="submit" class="estate_contact_send_btn trans_200" value="Submit">send</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 contact_col">
                <div class="contact_title">contact info</div>
                <ul class="contact_info_list estate_contact">
                    <li class="contact_info_item d-flex flex-row">
                        <div>
                            <div class="contact_info_icon"><img src="images/placeholder.svg" alt=""></div></div>
                        <div class="contact_info_text">67/69 Dang Thuy Tram St, ward 13, Binh Thanh District, HCMc</div>
                    </li>
                    <li class="contact_info_item d-flex flex-row">
                        <div>
                            <div class="contact_info_icon"><img src="images/phone-call.svg" alt=""></div></div>
                        <div class="contact_info_text">1900 1999</div>
                    </li>
                    <li class="contact_info_item d-flex flex-row">
                        <div>
                            <div class="contact_info_icon"><img src="images/message.svg" alt=""></div></div>
                        <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">sixstarland@gmail.com</a></div>
                    </li>
                    <li class="contact_info_item d-flex flex-row">
                        <div>
                            <div class="contact_info_icon"><img src="images/planet-earth.svg" alt=""></div></div>
                        <div class="contact_info_text"><a href="https://colorlib.com">www.sixstarland.com</a></div>
                    </li>
                </ul>
                <div class="estate_social">
                    <ul class="estate_social_list">
                        <li class="estate_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="estate_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="estate_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="estate_social_item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li class="estate_social_item"><a href="#"><i class="fab fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 contact_col">
                <div class="contact_title">about</div>
                <div class="estate_about_text">
                    <p>Công ty bất động sản PPC ( Perfect Property Company) là Doanh nghiệp hoạt động chuyên nghiệp trong lĩnh vực môi giới và tiếp thị bất động sản trong nước cũng như quốc tế. PPC được phát triển dựa trên nền tảng là sự hiểu biết sâu sắc về thị trường bất động sản, pháp luật và mối quan hệ vững chắc với các nhà đầu tư bất động sản chuyên nghiệp tại Việt Nam và đặc biệt là bất động sản tại Thành phố Hồ Chí Minh</p>

                </div>
            </div>

        </div>

    </div>
</div>

<script src="~Content/Index/js/jquery-3.2.1.min.js"></script>
<script src="~Content/Index/styles/bootstrap4/popper.js"></script>
<script src="~Content/Index/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~Content/Index/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~Content/Index/plugins/easing/easing.js"></script>
<script src="~Content/Index/js/contact_custom.js"></script>





