@{
    ViewBag.Title = "News";
}
<link href="~/Content/Index/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/Index/styles/news_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/Index/styles/news_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/Index/styles/logocss.css">
<div class="home">

    <div class="home_background" style="background-image:url(../Content/Index/images/news.jpg)"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content">
                    <div class="home_title">
                        <h2>listings</h2>
                    </div>
                    <div class="breadcrumbs">
                        <span><a href="~/Home/Index">Home</a></span>
                        <span><a href="~/Home/News"> News</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header -->
<!-- Menu -->
<!-- News -->

<div class="news">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 news_content_col">

                <!-- News Post -->
                <div class="news_post">
                    <div class="news_post_date">Dec 06, 2017</div>
                    <div class="news_post_title"><a href="#">All the papers you need to own a house</a></div>
                    <div class="news_post_meta">
                        <ul>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/profile.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">By Lore Papp</a></span>
                            </li>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/favorite.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">in Uncategorized</a></span>
                            </li>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/speech-bubble.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">3 Comments</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="news_post_image">
                        <img src="~/Content/Index/images/news_1.jpg" alt="">
                    </div>
                    <div class="news_post_text">
                        <p>Donec ullamcorper nulla non metus auctor fringi lla.Curabitur blandit tempus porttitor. Proin quis bibendum mi. Donec luctus vestibulum sapien, sit amet vehicula enim aliquam at. Suspendisse non urna bibendum, dictum quam sit amet, aliquet nisi. In dapibus aliquet porttitor. Pellentesque at malesuada ante. </p>
                    </div>
                    <div class="button news_post_button"><a href="#">read more</a></div>
                </div>

                <!-- News Post -->
                <div class="news_post">
                    <div class="news_post_date">Dec 06, 2017</div>
                    <div class="news_post_title"><a href="#">All the papers you need to own a house</a></div>
                    <div class="news_post_meta">
                        <ul>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/profile.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">By Lore Papp</a></span>
                            </li>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/favorite.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">in Uncategorized</a></span>
                            </li>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/speech-bubble.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">3 Comments</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="news_post_image">
                        <img src="~/Content/Index/images/news_2.jpg" alt="">
                    </div>
                    <div class="news_post_text">
                        <p>Donec ullamcorper nulla non metus auctor fringi lla.Curabitur blandit tempus porttitor. Proin quis bibendum mi. Donec luctus vestibulum sapien, sit amet vehicula enim aliquam at. Suspendisse non urna bibendum, dictum quam sit amet, aliquet nisi. In dapibus aliquet porttitor. Pellentesque at malesuada ante. </p>
                    </div>
                    <div class="button news_post_button"><a href="#">read more</a></div>
                </div>

                <!-- News Post -->
                <div class="news_post">
                    <div class="news_post_date">Dec 06, 2017</div>
                    <div class="news_post_title"><a href="#">All the papers you need to own a house</a></div>
                    <div class="news_post_meta">
                        <ul>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/profile.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">By Lore Papp</a></span>
                            </li>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/favorite.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">in Uncategorized</a></span>
                            </li>
                            <li class="news_post_meta_item">
                                <div class="news_post_meta_icon">
                                    <img src="~/Content/Index/images/speech-bubble.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                <span><a href="#">3 Comments</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="news_post_image">
                        <img src="~/Content/Index/images/news_3.jpg" alt="">
                    </div>
                    <div class="news_post_text">
                        <p>Donec ullamcorper nulla non metus auctor fringi lla.Curabitur blandit tempus porttitor. Proin quis bibendum mi. Donec luctus vestibulum sapien, sit amet vehicula enim aliquam at. Suspendisse non urna bibendum, dictum quam sit amet, aliquet nisi. In dapibus aliquet porttitor. Pellentesque at malesuada ante. </p>
                    </div>
                    <div class="button news_post_button"><a href="#">read more</a></div>
                </div>

                <div class="news_post_nav">
                    <ul>
                        <li class="news_post_nav_item active"><a href="#">01.</a></li>
                        <li class="news_post_nav_item"><a href="#">02.</a></li>
                        <li class="news_post_nav_item"><a href="#">03.</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-4 news_sidebar_col">
                <div class="news_sidebar">
                    <div class="sidebar_search">
                        <form action="post">
                            <div id="search_form" class="search_form">
                                <input id="news_search" class="news_search" type="search" placeholder="Search" required="required" data-error="Valid keywords required.">
                                <button id="search_submit_btn" type="submit" class="search_submit_btn trans_300" value="Submit">
                                    <img src="~/Content/Index/images/search.png" alt="">
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Archives -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">archives</div>
                        <ul class="sidebar_list">
                            <li class="sidebar_list_item"><a href="#">March 2017</a></li>
                            <li class="sidebar_list_item"><a href="#">April 2017</a></li>
                            <li class="sidebar_list_item"><a href="#">May 2017</a></li>
                            <li class="sidebar_list_item"><a href="#">June 2017</a></li>
                        </ul>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">categories</div>
                        <ul class="sidebar_list">
                            <li class="sidebar_list_item"><a href="#">Uncategorized</a></li>
                            <li class="sidebar_list_item"><a href="#">Useful Information</a></li>
                            <li class="sidebar_list_item"><a href="#">Events</a></li>
                            <li class="sidebar_list_item"><a href="#">Real Estate Tips</a></li>
                            <li class="sidebar_list_item"><a href="#">Home Owners</a></li>
                            <li class="sidebar_list_item"><a href="#">Vacation Homes</a></li>
                        </ul>
                    </div>

                    <!-- Latest Posts -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">latest posts</div>
                        <div class="latest_posts_container">

                            <!-- Latest Post -->
                            <div class="latest_post">
                                <div class="latest_post_image"><img src="~/Content/Index/images/latest_1.jpg" alt=""></div>
                                <div class="latest_post_content">
                                    <div class="latest_post_title"><a href="#">A simple blog post</a></div>
                                    <div class="latest_post_meta">
                                        <span><a href="#">by Jane Smith</a> / Aug 25, 2016</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Latest Post -->
                            <div class="latest_post">
                                <div class="latest_post_image"><img src="~/Content/Index/images/latest_2.jpg" alt=""></div>
                                <div class="latest_post_content">
                                    <div class="latest_post_title"><a href="#">Dream destination for you</a></div>
                                    <div class="latest_post_meta">
                                        <span><a href="#">by Jane Smith</a> / Aug 25, 2016</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Latest Post -->
                            <div class="latest_post">
                                <div class="latest_post_image"><img src="~/Content/Index/images/latest_3.jpg" alt=""></div>
                                <div class="latest_post_content">
                                    <div class="latest_post_title"><a href="#">Tips to travel light</a></div>
                                    <div class="latest_post_meta">
                                        <span><a href="#">by Jane Smith</a> / Aug 25, 2016</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Latest Post -->
                            <div class="latest_post">
                                <div class="latest_post_image"><img src="~/Content/Index/images/latest_4.jpg" alt=""></div>
                                <div class="latest_post_content">
                                    <div class="latest_post_title"><a href="#">How to pick your vacation</a></div>
                                    <div class="latest_post_meta">
                                        <span><a href="#">by Jane Smith</a> / Aug 25, 2016</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Instagram -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">instagram</div>
                        <div class="gallery_container">
                            <ul class="gallery_items d-flex flex-row align-items-start justify-content-between flex-wrap">
                                <li class="gallery_item">
                                    <a class="colorbox" href="https://~/Content/Index/images.unsplash.com/photo-1503174971373-b1f69850bded?auto=format&fit=crop&w=720&q=80">
                                        <img src="~/Content/Index/images/gallery_1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="gallery_item">
                                    <a class="colorbox" href="https://~/Content/Index/images.unsplash.com/photo-1448630360428-65456885c650?auto=format&fit=crop&w=720&q=80">
                                        <img src="~/Content/Index/images/gallery_2.jpg" alt="">
                                    </a>
                                </li>
                                <li class="gallery_item">
                                    <a class="colorbox" href="https://~/Content/Index/images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?auto=format&fit=crop&w=634&q=80">
                                        <img src="~/Content/Index/images/gallery_3.jpg" alt="">
                                    </a>
                                </li>
                                <li class="gallery_item">
                                    <a class="colorbox" href="https://~/Content/Index/images.unsplash.com/photo-1464375573282-035539096568?auto=format&fit=crop&w=720&q=80">
                                        <img src="~/Content/Index/images/gallery_4.jpg" alt="">
                                    </a>
                                </li>
                                <li class="gallery_item">
                                    <a class="colorbox" href="https://~/Content/Index/images.unsplash.com/photo-1449844908441-8829872d2607?auto=format&fit=crop&w=720&q=80">
                                        <img src="~/Content/Index/images/gallery_5.jpg" alt="">
                                    </a>
                                </li>
                                <li class="gallery_item">
                                    <a class="colorbox" href="https://~/Content/Index/images.unsplash.com/photo-1502672260266-1c1ef2d93688?auto=format&fit=crop&w=720&q=80">
                                        <img src="~/Content/Index/images/gallery_6.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Hello -->

                    <div class="sidebar_section">
                        <div class="hello">
                            <div class="footer_col_title">say hello</div>
                            <div class="footer_contact_form_container">
                                <form id="hello_contact_form" class="footer_contact_form" action="post">
                                    <input id="hello_contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
                                    <input id="hello_contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
                                    <textarea id="hello_contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                                    <button id="hello_contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">send</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Content/Index/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/Index/styles/bootstrap4/popper.js"></script>
<script src="~/Content/Index/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/Content/Index/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="~/Content/Index/js/news_custom.js"></script>